<%= form_with(model: vaper) do |form| %>
  <% if vaper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaper.errors.count, "error") %> prohibited this vaper from being saved:</h2>

      <ul>
        <% vaper.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :waranty_time %>
    <%= form.text_field :waranty_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
