<p id="notice"><%= notice %></p>

<h1>Liquids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Strength</th>
      <th>Flavor</th>
      <th>Size</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liquids.each do |liquid| %>
      <tr>
        <td><%= liquid.name %></td>
        <td><%= liquid.price %></td>
        <td><%= liquid.strength %></td>
        <td><%= liquid.flavor %></td>
        <td><%= liquid.size %></td>
        <td><%= liquid.brand %></td>
        <td><%= link_to 'Show', liquid %></td>
        <% if can? :update, Liquid %>
          <td><%= link_to 'Edit', edit_liquid_path(liquid) %></td>
        <% end %>
        <% if can? :destroy, Liquid %>
          <td><%= link_to 'Destroy', liquid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Liquid %>
  <%= link_to 'New Liquid', new_liquid_path %>
<% end %>
