<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :open %>
    <%= form.check_box :open %>
  </div>

  <div class="field">
    <%= form.label :date_opened %>
    <%= form.datetime_select :date_opened %>
  </div>

  <div class="field">
    <%= form.label :date_closed %>
    <%= form.datetime_select :date_closed %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
